{% extends 'core/base.html' %}

{% block title %}Password Reset Sent - Coracle{% endblock %}

{% block head_content %}
<h1>Check Your Email</h1>
<span class="subheading">Password reset instructions have been sent</span>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="alert alert-success">
            <p>We've sent you an email with instructions to reset your password.</p>
            <p>If you don't receive an email within a few minutes, check your spam folder or make sure you entered the correct email address.</p>
        </div>

        <p><a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a></p>
    </div>
</div>
{% endblock %}
